<h1>Ayuda</h1>
<p>
	El quiz es un juego el cual consiste en responder correctamente a las preguntas 	    presentadas por este. Tras responder, el juego se encarga de informar al usuario si ha acertado o fallado. Este juego ha sido creado con una finalidad didáctica.
</p>
